#include "resource.h"

// Dialog ----------------------------------------------------------------------

1 DIALOGEX 0, 0, 200, 100
STYLE WS_CHILD
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT "TODO: layout formview", IDC_STATIC, 90, 45, 40, 10
END

// Bitmap ----------------------------------------------------------------------

1001                    BITMAP                  "bitmap1.bmp"

// Icon ------------------------------------------------------------------------

101                     ICON                    "icon1.ico"
